.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thank-you-container img {
    margin: 2rem;
}

.thank-you-text {
    text-align: center;
}

@media (min-width: 800px) {
    .thank-you-text p {
        width: 28rem;
    }

    .thank-you-container {
        padding: 4rem 0;
    }
}
